{% extends "web_app/adminbase.html" %}
{% load static %}

{% block content %}
<title>Add Bills</title>
    <style>
        body{
            background-color: lightblue;
	        background-position:center;
	        text-align: center;
        }
        a{
            text-decoration: none;
            margin: 0 ;
            padding: 0;
            list-style: none;
            box-sizing:border-box;
        }
        a:hover{
            background-color:#222527;
            color:rgb(255, 255,255);
            font-size: 1.5px;
            
        }
        a:active{
            font-size: 1.5px;
        }
        .nav{
            
            margin: 0;
            padding: 0;;
            background:black;
            box-sizing: border-box;
        }
        .items{
               margin: 0;
               list-style-type: none;
               background: black;
               padding-top: 50px;
               height: 74px;
               width: 50%;
               margin-left: auto;
        }
        .item{
            display: inline;
            font-size: 20px;
            padding: 4px;
        }
        .container2{
            padding: 15px 45px;
            font-size: 20px;
        }
        .container1{
            font-size: 24px;
        }
        .container2 input[type = submit]{
            padding: 15px 20px;
            background:cornsilk;
            color: darkblue;
            border: 0 none;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <div class ="nav" >
        <ul class="items">
            <li class="item"> <a href="#"> Home</a></li>
            <li class="item"> <a href="#"> Test Result</a></li>
            <li class="item"> <a href="#"> Patient Profile</a></li>
            <li class="item"> <a href="#"> Pharmacy</a></li>
            <li class="item"> <a href="#"> Description</a></li>
            <li class="item"> <a href="#"> Billings</a></li>

        </ul>
    </div>
    <div class="container1">
    <h1>Add Billing</h1>
    <div class = "container2">
        <form action ="billing" method='POST'>
             {% csrf_token %}
             <label for="userid">UserID:</label>
            <input type="numbers" name ="userid" placeholder="Enter Userid" required> <br><br>
            <label for="date">Day:</label>
            <input type="date" name ="date" required> <br><br>
            <label for="amount">Amount:</label>
            <input type="text" name ="amount" placeholder="Enter Amount" required> <br><br>
            <input type="submit"  value="Enter">
        </form>
    
    </div>
    </div>





{% endblock content %}