{% extends "web_app/adminbase.html" %}
{% load static %}

{% block content %}
<style>
    table{
        text-align: center;
        width: 400px;
        font-size: 20px;
        margin:0;
        padding: 15px 45px;
        border: 1px solid #000;
        border-collapse: collapse;
        background-position: center;
        box-sizing: border-box;
        margin-left: 300px;

    }
    .table{
        width: 50%;
        font-size: 24px;
    }
    .heading{
        font-size: 35px;
    }
    
    a{
        text-decoration: none;
        margin: 0 ;
        padding: 0;
        list-style: none;
        box-sizing:border-box;
    }
    a:hover{
        background-color:#222527;
        color:rgb(255, 255,255);
        font-size: 1.5px;
        
    }
    a:active{
        font-size: 1.5px;
    }
    .nav{
        
        margin: 0;
        padding: :0;
        background:black;
    }
    .items{
           margin: 0;
           list-style-type: none;
           background: black;
           padding-top: 50px;
           height: 74px;
           width: 50%;
           margin-left: auto;
    }
    .item{
        display: inline;
        font-size: 20px;
        padding: 4px;
    }
    #box{
        position: relative;
        top: 80px;
        left:400px;
        border-spacing: 2px;
        
    }
    body{
        background-color: lightblue;
        background-position:center;
        text-align: center;
    }
    .class{
        background-position:center;
    }
    .table-container{
        padding: 0 10%;
        margin: 40px auto 0;
    }
    .table-container input[type = submit]{
        padding: 15px 30px;
        background:cornsilk;
        color: darkblue;
        border: 0 none;
        cursor: pointer;
    }

</style>
<title>Pharmacy Stock</title>
</head>
<body>
<div class ="nav" >
    <ul class="items">
        <li class="item"> <a href="#"> Home</a></li>
        <li class="item"> <a href="#"> Test Result</a></li>
        <li class="item"> <a href="#"> Patient Profile</a></li>
        <li class="item"> <a href="#"> Pharmacy</a></li>
        <li class="item"> <a href="#"> Description</a></li>
        <li class="item"> <a href="#"> Billings</a></li>

    </ul>
</div>
<div class="table-container" >
    <h2 class="heading">Pharmacy Stock</h2>
    <form action ="pharm" method='POST'>
        {% csrf_token %}
        <table class="table">
    <thead>
    <tr>
        <th>Medicine ID</th>
        <th>Medicine Name</th>
        <th>Stock Left</th>
        <th>Last update</th>
    </tr>
</thead>
    <tbody>

    <tr>
        <td data-label="Medicine_ID">1</td>
        <td data-label="Medicine_Name">Paracetamol</td>
        <td data-label="Stock_Left">50</td>
        <td data-label="Last_update">25-11-11</td>
    </tr>
    <tr>
        <td data-label="Medicine_ID">2</td>
        <td data-label="Medicine_Name">Combiflam</td>
        <td data-label="Stock_Left">75</td>
        <td data-label="Last_update">11-09-18</td>
    </tr>
</tbody>

</table><br><br>

<input type="submit" id="cl1" value="Enter">
</form>
</div>





{% endblock content %}